body {
    background: url('img/2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  @media only screen and (min-width: 800px) {
    body {
      background-image: url('img/1.jpg');
    }
  }