* {
  margin: 0;
  padding: 0;
}
.info a {
  color: inherit;
}
.whatsapp {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 60px;
  height: 60px;
  background-color: green;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 60px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.whatsapp:hover {
  transform: scale(1.1);
}

.contenedor {
  position: relative;
}

.contenedor .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 17%;
  height: auto;
  border-radius: 50%;
}

.contenedor .fondo {
  display: block;
  width: 100%;
  height: 70vh;
}

.contenedor .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%; /* Ahora ocupa el 50% del ancho del contenedor */
  height: 10%; /* Ahora ocupa el 10% de la altura del contenedor */
  padding: 10px;
  display: flex; /* Ahora usamos flexbox para alinear verticalmente el contenido */
  flex-direction: column; /* Los elementos se alinean verticalmente */
  justify-content: flex-end; /* El contenido se alinea en la parte inferior del contenedor */
}  

.contenedor .info h4 {
  padding: 18px 26px;
  background-color: rgba(128, 128, 128, 0.5);
  color: rgb(18, 116, 9);
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}



.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  z-index: 2;
}
.certificados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 500px;
  font-family: sans-serif;
}
.seccion {
  width: 30%; /* establece un ancho inicial */
  margin-bottom: 20px;
}

.certificados > div {
  width: 25%;
  margin-bottom: 20px;
}

.sello img {
  width: 100vw;
  max-width: 100%;
}



.menu-container {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 4%;
  height: 50px;
  background-color: rgb(18, 116, 9);
  cursor: pointer;
  border-radius: 30%;
  z-index: 1;
}

.menu-dropdown {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  padding: 0;
  margin: 0;
  background-color: rgb(18, 116, 9);
  list-style: none;
}

.menu-dropdown li {
  margin: 0;
  padding: 0;
}

.menu-dropdown li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.menu-container:hover .menu-dropdown {
  display: block;
}

.menu-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 2px;
  background-color: white;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: white;
}

.menu-icon::before {
  top: -6px;
}

.menu-icon::after {
  bottom: -6px;
}




@media screen and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }
  .whatsapp {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 42px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .whatsapp:hover {
    transform: scale(1.1);
  }
  
  .certificados > div {
    width: 100%;
    height: auto;
    background-color: rgb(18, 116, 9);
  }
  
  .contenedor {
    position: relative;
  }
  
  .contenedor .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: auto;
    border-radius: 50%;
  }
  
  .contenedor .fondo {
    display: block;
    width: 100%;
    height: 50vh;
  }
  
  .contenedor .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%; /* Ahora ocupa el 75% del ancho del contenedor */
    height: 10%; /* Ahora ocupa el 60% de la altura del contenedor */
    padding: 10px;
    display: flex; /* Ahora usamos flexbox para alinear verticalmente el contenido */
    flex-direction: column; /* Los elementos se alinean verticalmente */
    justify-content: flex-end; /* El contenido se alinea en la parte inferior del contenedor */
  }  
  
  .contenedor .info h4 {
    padding: 1px 2px;
    background-color: rgba(128, 128, 128, 0.5);
    color: rgb(18, 116, 9);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
  }  
  .menu-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 10%;
    height: 40px;
    background-color: rgb(18, 116, 9);
    cursor: pointer;
    border-radius: 30%;
    z-index: 1;
  }
  
  .menu-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    padding: 0;
    margin: 0;
    background-color: rgb(18, 116, 9);
    list-style: none;
  }
  
  .menu-dropdown li {
    margin: 0;
    padding: 0;
  }
  
  .menu-dropdown li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
  }
  
  .menu-container:hover .menu-dropdown {
    display: block;
  }
  
  .menu-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;
    background-color: white;
  }
  
  .menu-icon::before,
  .menu-icon::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: white;
  }
  
  .menu-icon::before {
    top: -6px;
  }
  
  .menu-icon::after {
    bottom: -6px;
  }

}
@media screen and (max-width: 480px) {
  
  .seccion {
    width: 100%; /* establece un ancho máximo para cada sección */
    font-size: 0.8em; /* reduce el tamaño de la fuente */
  }
  
  .contenedor .parrafos p {
  width: 50%;
  }
  .contenedor {
    position: relative;
  }
  
  .contenedor .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: auto;
    border-radius: 50%;
  }
  
  .contenedor .fondo {
    display: block;
    width: 100%;
    height: 50vh;
  }
  
  .contenedor .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%; /* Ahora ocupa el x% del ancho del contenedor */
    height: 10%; /* Ahora ocupa el x% de la altura del contenedor */
    padding: 10px;
    display: flex; /*usamos flexbox para alinear verticalmente el contenido */
    flex-direction: column; /* Los elementos se alinean verticalmente */
    justify-content: flex-end; /* El contenido se alinea en la parte inferior del contenedor */
  }  
  
  .contenedor .info h4 {
    padding: 1px 2px;
    background-color: rgba(224, 224, 224, 0.5);
    color: rgb(18, 116, 9);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
  }
  .menu-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 10%;
    height: 40px;
    background-color: rgb(18, 116, 9);
    cursor: pointer;
    border-radius: 30%;
    z-index: 1;
  }
  
  .menu-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    padding: 0;
    margin: 0;
    background-color: rgb(18, 116, 9);
    list-style: none;
  }
  
  .menu-dropdown li {
    margin: 0;
    padding: 0;
  }
  
  .menu-dropdown li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
  }
  
  .menu-container:hover .menu-dropdown {
    display: block;
  }
  
  .menu-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;
    background-color: white;
  }
  
  .menu-icon::before,
  .menu-icon::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: white;
  }
  
  .menu-icon::before {
    top: -6px;
  }
  
  .menu-icon::after {
    bottom: -6px;
  }  
  
  
  }
